
    <link rel="stylesheet" href="style/addCard.css">

<header class="title">
    <a href="javascript:history.back(-1);" class="back">
        <i class="iconfont icon-icon"></i>
    </a>
    <h1>添加银行卡</h1>
</header>
<section class="container bgc-fa pdlr30">
    <ul>
        <li class="addcard-bank mgt30">
            <div class="icon-bank">
                <i class="iconfont icon-zhongguoyinhang "></i>
            </div>
            <div class="addcard-information">
                <h4>招商银行</h4>
                <p class="addcard-name">储蓄卡</p>
                <p class="addcard-number">＊＊＊＊  ＊＊＊＊  ＊＊＊＊  0000</p>
            </div>
            <i class="iconfont icon-guanbi"></i>   
        </li>
        <li class="addcard-bank mgt30">
            <div class="icon-bank">
                <i class="iconfont icon-zhongguoyinhang "></i>
            </div>
            <div class="addcard-information">
                <h4>招商银行</h4>
                <p class="addcard-name">储蓄卡</p>
                <p class="addcard-number">＊＊＊＊  ＊＊＊＊  ＊＊＊＊  0000</p>
            </div>
            <i class="iconfont icon-guanbi"></i> 
        </li>
    </ul>
    <button class="btn btn-block mgt220 he80" type="bottom" >添加银行卡</button> 
</section>
