
    <link rel="stylesheet" href="style/billpayment.css">
    <link rel="stylesheet" href="style/addCard.css">

<header class="title">
    <a href="javascript:history.back(-1);" class="back">
        <i class="iconfont icon-icon"></i>
    </a>
    <h1>账单还款</h1>
</header>
<article class="container bgc-fa">
    <section class="bgc-f4 bill-number">
        <span>支付金额<strong class="pay-number">¥6666.00</strong></span>
        <span>订单号：2003384743</span>  
    </section>
    <form action="" class=" pdlr30">
        <span class="inputcard pd0">*银行卡支付（请绑定本人名下的储蓄卡）</span>
        <ul class="m-form-list clearfix">
             <li>
                <label class="form-list-label ">
                    <span class="form-list-end">
                        姓&nbsp;名
                    </span>
                    <p class="form-list-p">张三</p>
                </label>              
            </li>
            <li>
                <label class="form-list-label ">
                    <span class="">
                        身份证号
                    </span>
                    <p class="form-list-p">430384384939492024233</p>
                </label>
            </li>           
            <li>
                <label class="form-list-label">
                    <span>开户银行 </span>
                    <input type="text" readonly="true" />
                    <i class="iconfont icon-fanhuiyou"></i>                                 
                </label>
            </li>
            <li>
                <label class="form-list-label ">
                    <span class="">
                        银行卡号
                    </span>
                    <input type="text" placeholder="请输入银行卡号">
                </label>
            </li>
            <li>
                <label class="form-list-label ">
                    <span>手&nbsp;机&nbsp;号</span>  
                    <input type="tel" placeholder="请输入银行预留手机号"/>    
                </label>         
            </li>
        </ul>
        <span class="mgt60 my-agree pdtl15">我已同意<a href="" class="color-00abef">《支付服务协议》</a></span>
        <button class="btn btn-block mgt30 bill-btn he84" type="button" >下一步</button> 
    </form>
</article>
