
    <link rel="stylesheet" href="style/huifenqi.css">

<header class="title">
    <a href="javascript:history.back(-1);" class="back">
        <i class="iconfont icon-icon"></i>
    </a>
    <h1>绑定身份证号</h1>
</header>
<article class="container bgc-fa pdlr30">
    <span class="inputcard pd0">输入身份证号后即可查看账单信息了</span>
     <form action="">
        <ul class="form-list clearfix">
            <li>
                <label class="form-list-label form-list-border">
                    <input type="text" placeholder="请输入身份证号" />
                </label>
            </li>
        </ul>
        <button class="btn btn-block mgt60 he80  " type="submit" >提&nbsp;交</button> 
    </form>
</article>
<section class="big-shade">
    <div class="small-shade bind-shade">
        <div class="circle">
            <i class="iconfont icon-roundcheck"></i>
        </div>
        <span>绑定成功</span>
    </div>
</section>
