
    <link rel="stylesheet" href="style/huifenqi.css">

<header class="title">
    <a href="javascript:history.back(-1);" class="back">
        <i class="iconfont icon-icon"></i>
    </a>
    <h1>找回密码</h1>
</header>
<article class="container bgc-fa pdlr30">
     <form action="">
        <ul class="form-list clearfix mgt60">
            <li class="form-list-item">
                <label class="form-list-label  form-list-border">
                    <input type="tel" placeholder="请输入绑定的手机号" />
                </label>
            </li>
        </ul>
        <button class="btn btn-block mgt60 he80 " type="button" >下一步</button> 
    </form>
</article>

