
    <link rel="stylesheet" href="style/helpCenter.css">

<header class="title">
    <a href="javascript:history.back(-1);" class="back">
        <i class="iconfont icon-icon"></i>
    </a>
    <h1>帮助中心</h1>
</header>
<article class="container">
    <section class="bgc-fa help-calculate pdlr30">
        <h2>账单分期的计算规则？</h2>
        <section class="help-algorithm help-calculate">
            <p>每期还款总金额＝每期本金＋每期利息 </p>
            <p>每期本金＝可分期还款本金总额/分期期数</p>
            <p>每期利息＝可分期还款本金总额＊分期利率/分期期数 </p> 
        </section>
        <section class="help-example ">
            <h4>例如</h4>
            <p>2100元分3期 </p>
            <p>每期本金＝2100/3=700元</p>
            <p>每期利息＝2100＊1.5%/3=10.5元 </p> 
        </section>
    </section>
</article>


 