
    <link rel="stylesheet" href="style/helpCenter.css">

<header class="title">
    <a href="javascript:history.back(-1);" class="back">
        <i class="iconfont icon-icon"></i>
    </a>
    <h1>帮助中心</h1>
</header>
<section class="container">
    <section>
        <ul class="help-problem bgc-fa">
            <li>
                <a href="#">
                    <figure class="iconbox bgc-fd">
                        <i class="iconfont icon-shop "></i>
                    </figure>
                    <span>惠商品常见问题</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure class="iconbox bgc-7c">
                        <i class="iconfont icon-car"></i>
                    </figure>
                    <span>惠车贷常见问题</span>
                </a>
            </li>
        </ul>
    </section>
    <section class="mgt30">
        <ul class="help-list">
            <li >
                <a href="#">
                    <span>如何选择分期付款</span>
                    <aside><strong class="iconfont icon-fanhuiyou"></strong></aside>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>分期的还款日是什么时候</span>
                    <aside><strong class="iconfont icon-fanhuiyou"></strong></aside>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>如何还款</span>
                    <aside><strong class="iconfont icon-fanhuiyou"></strong></aside>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>账单分期的计算规则</span>
                    <aside><strong class="iconfont icon-fanhuiyou"></strong></aside>
                </a>
            </li>
        </ul>
    </section>
</section>
<footer class="footer">
    <span class="footer-request">还没解决疑问</span>
    <a href="#" class="footer-kefu">点此联系客服</a>
</footer>

<section class="frame-bnum big-shade">
    <div class="frame-snum information-shade">
        <p>400－8208－060</p>
        <ul>
            <li>
                <a href="" class="kefu-cancale">取消</a>
            </li>
            <li>    
                <a href="">呼叫</a>
            </li>
        </ul>
    </div>
</section>


