
    <link rel="stylesheet" href="style/selectBank.css">

<header class="title">
    <a href="javascript:history.back(-1);" class="back">
        <i class="iconfont icon-icon"></i>
    </a>
    <h1>选择发行卡</h1>
</header>
<section class="container bgc-fa">
    <ul class="list-bank bgc-fa">
        <li>
            <i class="iconfont icon-zhongguoyinhang"></i>
            <article>
                <h3>中国银行</h3>
                <p>
                    <strong>单笔限额最大</strong><span>20万</span>，
                    <strong>每日限额</strong><span>无限</span>
                </p>
            </article>
        </li>   
        <li>
            <i class="iconfont icon-zhongguoyinhang"></i>
            <article>
                <h3>工商银行</h3>
                <p>
                    <strong>单笔限额最大</strong><span>20万</span>，
                    <strong>每日限额</strong><span>无限</span>
                </p>
            </article>
        </li> 
        <li>
            <i class="iconfont icon-zhongguoyinhang"></i>
            <article>
                <h3>招商银行</h3>
                <p>
                    <strong>单笔限额最大</strong><span>20万</span>，
                    <strong>每日限额</strong><span>无限</span>
                </p>
            </article>
        </li> 
    </ul>
</section>

