
    <link rel="stylesheet" href="style/huifenqi.css">


<header class="title">
    <a href="javascript:history.back(-1);" class="back">
        <i class="iconfont icon-icon"></i>
    </a>
    <h1>设置</h1>
</header>
<section class="container bgc-fa">
    <ul class="m-setup">
        <li class="clearfix setup-item">
            <a href="" class="m-modify">修改密码</a>
            <i class="iconfont icon-fanhuiyou"></i>
        </li>
        <li class=" clearfix setup-item">
            <span>客服热线</span>
            <i class="iconfont icon-fanhuiyou"></i>
            <a href="" class="m-phone">027-87265079</a>          
        </li>
    </ul>
    <section class="exit-login">
        <button class="btn btn-block he84" type="submit" >退出登录</button>
    </section>

</section>

